.blue {
	color: darkblue;
}

.blueface {
	color: black;
}

.abackground {
	background-color: black;
}

.bbackground {
	background-color: black;
}

.cbackground {
	background-color: black;
}

.dbackground {
	background-color: black;
}